{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Log In</h1>
    <div class="row">
        <div class="col-md-8">
            <!-- empty column -->
         </div>    
        <div class="col-md-4">
            <p>
                You can use your social media accounts to login.
            </p>
        </div>
        <div class="col-md-8">
           <!-- empty column -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#"><img class="img-fluid" style="max-width: 100%; height: auto; border-radius: 15px; padding: 5px;"  src="{{url_for('static', filename='images/login_with_twitter.jpeg')}}" alt="Twitter"></a>
        </div>
        <div class="col-md-8">
            <a href="#"><img class="img-fluid" style="max-width: 100%; height: auto; border-radius: 15px; padding: 5px;"  src="{{url_for('static', filename='images/login_with_fb.png')}}" alt="FaceBook"></a>
        </div> <hr>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- empty column -->
         </div>    
        <div class="col-md-4">
            <p>
                Alternatively, you can create custom login credentials below.
            </p>
        </div>
        <div class="col-md-8">
           <!-- empty column -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- empty column -->
         </div>
        <div class="col-md-4" style="border: 1px solid #E6E6E6; padding: 20px; border-radius: 7px; margin: 10px;">
            {{ wtf.quick_form(form) }}
            <p>
                New here?
                <a href="{{ url_for('register') }}">Click here to register</a>
            </p>
            <p>
                Forgot password?
                <a href="{{url_for('reset_password_request')}}">Click here to reset</a>
            </p>
        </div>  
        <div class="col-md-8">
            <!-- empty column -->
         </div>      
    </div>
{% endblock %}