{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}    
    <div class="row">
        <div class="col-md-4">
            <!-- empty column -->
         </div>    
        <div class="col-md-4">
            <h1 class="text-center" >Log In</h1><br>
            <p>
                You can use your social media accounts to login.
            </p>
        </div>
        <div class="col-md-4">
           <!-- empty column -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- empty column -->
        </div>    
        <div class="col-md-4">
            <a href="{{ url_for('oauth_authorize', provider='twitter') }}"><img class="img-fluid" style="max-width: 100%; height: auto; border-radius: 15px; padding: 5px;"  src="{{url_for('static', filename='images/login_with_twitter.jpeg')}}" alt="Twitter"></a>
        </div>
        <div class="col-md-4">
           <!-- empty column -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- empty column -->
        </div>    
        <div class="col-md-8">
            <a href="{{ url_for('oauth_authorize', provider='facebook') }}"><img class="img-fluid" style="max-width: 100%; height: auto; border-radius: 15px; padding: 5px;"  src="{{url_for('static', filename='images/login_with_fb.png')}}" alt="FaceBook"></a>
        </div> <hr>
        <div class="col-md-4">
           <!-- empty column -->
        </div>
    </div><hr><br>
{% endblock %}